@tailwind base;
@tailwind components;
@tailwind utilities;

  /* Add these styles for even smoother scrolling */
html {
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overscroll-behavior-y: none;
}

/* Optional: Add momentum scrolling for iOS */
@media (max-width: 768px) {
  body {
    -webkit-overflow-scrolling: touch;
  }
}
  
